<div class="SigninPanel">
    <div class="underlay" :style="{ 'background-image': 'url('+background_url+')' }"></div>
    <form class="signin-form" @submit.prevent="sign_in">
        <div class="header">
            <img class="logo" src="https://s3-eu-west-1.amazonaws.com/com-a2zcloud-assets/images/logo/a2zcloud.svg" />
        </div>
        <div class="signin-content">
            <div class="inputs">
                <input  class="username" type="text"     placeholder="Username" v-model="username" />
                <input  class="password" type="password" placeholder="Password" v-model="password" />
            </div>
            <button class="submit" type="submit">
                <span class="lnr lnr-arrow-right"></span>
            </button>
        </div>
        <div class="signin-error" v-if="error"> {{error}} </div>
    </form>
</div>
