.SigninPanel {
    position: relative;
    width: 100%;
    height: 100%;
}

.SigninPanel
.underlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* Background Filter */
    /*-webkit-filter: opacity(50%);*/

    /* Background Position */
    background-repeat: no-repeat;
    background-position:  center;
    background-attachment: fixed;

    /* Background Sizing */
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.SigninPanel
.signin-form {
    position: absolute;
    top: 100px;
    left: calc(50% - 150px);
    width: 300px;
}

.SigninPanel
.signin-form .header {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.SigninPanel
.signin-form .header .logo {
    display: block;
    width: 100%;
}

.SigninPanel
.signin-form .signin-content {
    background: #FFF;
    padding: 10px;
    border: 1px solid #CBCBCB;
    white-space: nowrap;

    -webkit-box-shadow: 4px 4px 0px 0px rgba(203,203,203,0.5);
       -moz-box-shadow: 4px 4px 0px 0px rgba(203,203,203,0.5);
            box-shadow: 4px 4px 0px 0px rgba(203,203,203,0.5);

    /*-webkit-box-shadow: 0px 0px 0px 5px rgba(203,203,203,0.5);
       -moz-box-shadow: 0px 0px 0px 5px rgba(203,203,203,0.5);
            box-shadow: 0px 0px 0px 5px rgba(203,203,203,0.5);*/
}

.SigninPanel .signin-form input,
.SigninPanel .signin-form button {
    display: block;
    width: 100%;
    height: 30px;

    box-sizing: border-box;
    padding: 0 6px;
    border-radius: 0;
    border: none;

    background: #FFF;
    color: #000;
    font-size: 18px;
    line-height: 30px;
    font-family: Verdana, Geneva, sans-serif;
}

.SigninPanel input:focus,
.SigninPanel button:focus {
    outline: 2px solid rgba(56,147,58,0.5);
    border-radius: 0 !important;
}

.SigninPanel .signin-form input:first-child {
    border-bottom: 1px solid #CCC;
}

.SigninPanel .signin-form .inputs {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 30px);

}

.SigninPanel .signin-form button {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 60px;
    padding: 0;
}

.SigninPanel
.signin-form .submit {
    background: #885C9E;
    color: #FFF;
}

.SigninPanel
.signin-form .submit:hover {
    background: #38933A;
    border-color: #38933A;
}

.SigninPanel
.signin-form .submit:active {
    -webkit-box-shadow: inset 5px 5px 30px 5px rgba(0,0,0,0.3);
       -moz-box-shadow: inset 5px 5px 30px 5px rgba(0,0,0,0.3);
            box-shadow: inset 5px 5px 30px 5px rgba(0,0,0,0.3);
}
