<div v-if="error">{{error.message}}</div>

<div>
    <div>Hi {{user.first_name}} {{user.last_name}}</div>

    <div>
        <div>First Name</div>
        <input
            :class="{'changed': dirty_user.first_name !== user.first_name}"
            type="text"
            v-model="dirty_user.first_name"
            placeholder="first name">

        <div>Last Name</div>
        <input
            :class="{'changed': dirty_user.last_name !== user.last_name}"
            type="text"
            v-model="dirty_user.last_name"
            placeholder="last name">

        <div>Email Address</div>
        <input
            :class="{'changed': dirty_user.email !== user.email}"
            type="text"
            v-model="dirty_user.email"
            placeholder="email">

        <div v-if="!user.email_confirmed">
            Email unverified (check your email) <button :click="send_email_confirmation">Resend email</button>
        </div>

        <div>Phone Number</div>
        <input
            :class="{'changed': dirty_user.phone !== user.phone}"
            type="text"
            v-model="dirty_user.phone"
            placeholder="phone">

        <button :disabled="!changed" @click="save_user(dirty_user)">Save</button>
    </div>
</div>
