.AccountPanel {
    padding-top: 32px;
    padding-bottom: 32px;

    text-align: center;
    align-content: center;
}

.AccountPanel
.greeting {
    padding-bottom: 32px;

    font-size: xx-large;
}

.AccountPanel
.form-label {
    font-weight: bold;
    text-align: left;
}

.AccountPanel
.changed {
    font-style: italic;
}

.AccountPanel
.lnr-warning {
    color:
}

.lnr:before {
    vertical-align: sub;
}

.AccountPanel
.form-label
.unverified {
    font-weight: normal;
}

.AccountPanel
.form-actions {
    padding-top: 32px;

    text-align: right;
}

.AccountPanel
button {
    overflow: hidden;
    padding: 0;
}

.AccountPanel
.tool-tip-container {
    position: relative;
}

.AccountPanel
.lnr-warning {
    color: rgb(170, 57, 57);
}

.AccountPanel
.tool-tip-message {
    visibility: hidden;
    position: absolute;
    right: 0;
    width: 300px;
    z-index: 1;
    font-size: smaller;
    background: white;
    padding: 8px;
    border: 1px solid #bbb
}

.AccountPanel
.tool-tip-container:hover
.tool-tip-message {
    visibility: visible;
}

.AccountPanel
.tool-tip-message.warning {
    color: rgb(170, 57, 57);
}
