<div v-el:service-panel class="GroupsPanel panel">
    <!-- <template v-if="!$loadingRouteData"> -->

        <div v-if="error">
            {{error.message}}
        </div>

        <div v-if="group && dirty_group" class="container">
            <div class="row">
                <div class="tweleve columns">
                    <div class="form-label">name</div>
                    <input
                        class="u-full-width"
                        :class="{'changed': dirty_group.name !== group.name, 'invalid': !dirty_group.name}"
                        type="text"
                        v-model="dirty_group.name"
                        placeholder="e.g. A2Z Cloud">
                </div>
            </div>

            <div class="row">
                <div class="six columns">
                    <div class="single-lookup">
                        <div class="form-label">zoho crm company (eu)</div>
                        <input
                            class="u-full-width single-lookup-value"
                            :class="{'changed': dirty_group.zcrm_id !== group.zcrm_id}"
                            type="text"
                            v-model="dirty_group.zcrm_id | nullify"
                            placeholder="e.g. 1770000000501001">
                        <div class="single-lookup-display" v-if="dirty_group.zcrm_id">
                            <span class="value-bubble">
                                <span class="name">{{ dirty_group.zcrm_id }}</span>
                                <span class="lnr lnr-cross delete" @click="dirty_group.zcrm_id = null"></span>
                            </span>
                        </div>
                        <div class="single-lookup-entry" v-else>
                            <searchable-lookup
                                    :search="search_zoho_groups"
                                    :skwargs="{service:'crm'}"
                                    :action="set_zoho_id"
                                    :akwargs="{service:'crm'}"
                                    :display="display_zoho_group"
                                    placeholder="e.g. A2Z Cloud">
                            </searchable-lookup>
                        </div>
                    </div>
                </div>
                <div class="six columns">
                    <div class="single-lookup">
                        <div class="form-label">zoho projects company (eu)</div>
                        <input
                            class="u-full-width single-lookup-value"
                            :class="{'changed': dirty_group.zprojects_id !== group.zprojects_id}"
                            type="text"
                            v-model="dirty_group.zprojects_id | nullify"
                            placeholder="e.g. 1770000000501001">
                        <div class="single-lookup-display" v-if="dirty_group.zprojects_id">
                            <span class="value-bubble">
                                <span class="name">{{ dirty_group.zprojects_id }}</span>
                                <span class="lnr lnr-cross delete" @click="dirty_group.zprojects_id = null"></span>
                            </span>
                        </div>
                        <div class="single-lookup-entry" v-else>
                            <searchable-lookup
                                    :search="search_zoho_groups"
                                    :skwargs="{service:'projects'}"
                                    :action="set_zoho_id"
                                    :akwargs="{service:'projects'}"
                                    :display="display_zoho_group"
                                    placeholder="e.g. A2Z Cloud">
                            </searchable-lookup>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="six columns">
                    <div class="single-lookup">
                        <div class="form-label">zoho support company (eu)</div>
                        <input
                            class="u-full-width single-lookup-value"
                            :class="{'changed': dirty_group.zsupport_id !== group.zsupport_id}"
                            type="text"
                            v-model="dirty_group.zsupport_id | nullify"
                            placeholder="e.g. 1770000000501001">
                        <div class="single-lookup-display" v-if="dirty_group.zsupport_id">
                            <span class="value-bubble">
                                <span class="name">{{ dirty_group.zsupport_id }}</span>
                                <span class="lnr lnr-cross delete" @click="dirty_group.zsupport_id = null"></span>
                            </span>
                        </div>
                        <div class="single-lookup-entry" v-else>
                            <searchable-lookup
                                    :search="search_zoho_groups"
                                    :skwargs="{service:'support'}"
                                    :action="set_zoho_id"
                                    :akwargs="{service:'support'}"
                                    :display="display_zoho_group"
                                    placeholder="e.g. A2Z Cloud">
                            </searchable-lookup>
                        </div>
                    </div>
                </div>
                <div class="six columns">
                    <br>
                </div>
            </div>

        </div>

        <div class="container form-actions">
            <div class="row">
                <div class="nine columns">
                    <br>
                </div>
                <div class="three columns">
                    <button
                        class="button-primary save u-full-width"
                        :disabled="!changed || saving_group || !valid_form"
                        @click="save(dirty_group)">
                        {{ save_group_button_text }}
                    </button>
                </div>
            </div>
        </div>

        <div class="container">
            <hr class="section-break">

            <div class="row">
                <div class="tweleve columns">
                    <div class="form-label">members</div>
                    <div class="members-area">
                        <span class="value-bubble" v-for="membership in group_membership">
                            <span class="name">{{membership.user.email}}</span>
                            <span class="lnr lnr-cross delete" @click="remove_member(membership.id)"></span>
                        </span>
                    </div>
                    <searchable-lookup
                            :search="search_members"
                            :filter="filtered_searched_members"
                            :action="add_member"
                            :display="display_search_member"
                            placeholder="e.g. Bill Billson">
                    </searchable-lookup>
                </div>
            </div>

        </div>

    <!-- </template> -->
</div>
