.GroupsPanel {
    position: relative;
    height: 100%;
}

.GroupsPanel
.members-area {
    text-align: left;
    line-height: 38px;
}

.GroupsPanel
.single-lookup {
    text-align: left;
}

.GroupsPanel
.single-lookup-value {
    display: none;
}

.GroupsPanel .single-lookup-entry,
.GroupsPanel .single-lookup-display {
    display: inline-block;
    width: 100%;
}
