.GroupsPanel
.members-area {
    text-align: left;
}

.GroupsPanel
.member-bubble {
    border-radius: 4px;
    padding: 2px 4px 2px 8px;
    margin: 0 4px 0 4px;
    background: #33C3F0;
    color: white;
}

.GroupsPanel
.member-bubble
.lnr:before {
    vertical-align: middle;
}

.GroupsPanel
.member-bubble
.lnr-cross:hover {
    color: black;
}

.GroupsPanel
.search-box.selected {
    color: white;
    background-color: rgba(15, 160, 206, 0.6);
}

.GroupsPanel
.search-box:hover {
    color: white;
    background-color: #0FA0CE;

    cursor: pointer;
}
