<div class="GroupsPanel panel" v-el:service-panel>
    <template v-if="!$loadingRouteData">

        <div v-if="error">
            {{error.message}}
        </div>

        <div v-if="group && dirty_group" class="container">
            <div class="row">
                <div class="tweleve columns">
                    <div class="form-label">name</div>
                    <input
                        class="u-full-width"
                        :class="{'changed': dirty_group.name !== group.name, 'invalid': !dirty_group.name}"
                        type="text"
                        v-model="dirty_group.name"
                        placeholder="e.g. A2Z Cloud">
                </div>
            </div>

            <div class="row">
                <div class="six columns">
                    <div class="single-lookup">
                        <div class="form-label">zoho crm company (eu)</div>
                        <input
                            class="u-full-width single-lookup-value"
                            :class="{'changed': dirty_group.zcrm_id !== group.zcrm_id}"
                            type="text"
                            v-model="dirty_group.zcrm_id | nullify"
                            placeholder="e.g. 1770000000501001">
                        <div class="single-lookup-display" v-if="dirty_group.zcrm_id">
                            <value-bubble
                                :display="zoho_account_name(dirty_group.zcrm_id,'crm')"
                                :link="'https://crm.zoho.eu/crm/EntityInfo.do?module=Accounts&id='+dirty_group.zcrm_id"
                                :pop="()=>(dirty_group.zcrm_id = null)">
                            </value-bubble>
                        </div>
                        <div class="single-lookup-entry" v-else>
                            <searchable-lookup
                                    :search="search_zoho_groups"
                                    :skwargs="{service:'crm'}"
                                    :action="set_zoho_id"
                                    :akwargs="{service:'crm'}"
                                    :format="format_zoho_group"
                                    placeholder="e.g. A2Z Cloud">
                            </searchable-lookup>
                        </div>
                    </div>
                </div>
                <div class="six columns">
                    <div class="single-lookup">
                        <div class="form-label">zoho projects company (eu)</div>
                        <input
                            class="u-full-width single-lookup-value"
                            :class="{'changed': dirty_group.zprojects_id !== group.zprojects_id}"
                            type="text"
                            v-model="dirty_group.zprojects_id | nullify"
                            placeholder="e.g. 1770000000501001">
                        <div class="single-lookup-display" v-if="dirty_group.zprojects_id">
                            <value-bubble
                                :display="zoho_account_name(dirty_group.zprojects_id,'projects')"
                                :link="'https://projects.zoho.eu/portal/a2zcloud#dashboard/'+dirty_group.zprojects_id"
                                :pop="()=>(dirty_group.zprojects_id = null)">
                            </value-bubble>
                        </div>
                        <div class="single-lookup-entry" v-else>
                            <searchable-lookup
                                    :search="search_zoho_groups"
                                    :skwargs="{service:'projects'}"
                                    :action="set_zoho_id"
                                    :akwargs="{service:'projects'}"
                                    :format="format_zoho_group"
                                    placeholder="e.g. A2Z Cloud">
                            </searchable-lookup>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="six columns">
                    <div class="single-lookup">
                        <div class="form-label">zoho support company (eu)</div>
                        <input
                            class="u-full-width single-lookup-value"
                            :class="{'changed': dirty_group.zsupport_id !== group.zsupport_id}"
                            type="text"
                            v-model="dirty_group.zsupport_id | nullify"
                            placeholder="e.g. 1770000000501001">
                        <div class="single-lookup-display" v-if="dirty_group.zsupport_id">
                            <value-bubble
                                :display="zoho_account_name(dirty_group.zsupport_id,'support')"
                                :link="'https://support.a2zcloud.com/support/a2zcloud/ShowHomePage.do#Accounts'"
                                :pop="()=>(dirty_group.zsupport_id = null)">
                            </value-bubble>
                        </div>
                        <div class="single-lookup-entry" v-else>
                            <searchable-lookup
                                    :search="search_zoho_groups"
                                    :skwargs="{service:'support'}"
                                    :action="set_zoho_id"
                                    :akwargs="{service:'support'}"
                                    :format="format_zoho_group"
                                    placeholder="e.g. A2Z Cloud">
                            </searchable-lookup>
                        </div>
                    </div>
                </div>
                <div class="six columns">
                    <br>
                </div>
            </div>

        </div>

        <div class="container form-actions">
            <div class="row">
                <div class="nine columns">
                    <br>
                </div>
                <div class="three columns">
                    <button
                        class="button-primary save u-full-width"
                        :disabled="!changed || saving_group || !valid_form"
                        @click="save(dirty_group)">
                        {{ save_group_button_text }}
                    </button>
                </div>
            </div>
        </div>

        <div class="container">
            <hr class="section-break">

            <div class="row">
                <div class="tweleve columns">
                    <div class="form-label">members</div>
                    <div class="members-area">
                        <value-bubble
                            v-for="membership in group_membership"
                            :display="membership.user.email"
                            :link="{name: 'user', params: { id: membership.user.id }}"
                            :pop="()=>(remove_member(membership.id))">
                        </value-bubble>
                    </div>
                    <searchable-lookup
                            :search="search_members"
                            :filter="filter_searched_members"
                            :format="format_searched_member"
                            :action="add_member"
                            placeholder="e.g. Bill Billson">
                    </searchable-lookup>
                </div>
            </div>

        </div>

    </template>
    <div class="loading" v-else>
        Loading...
    </div>
</div>
