.GroupsPanel
.section-break {
    border-style: dashed;
}

.GroupsPanel
.members-area {
    text-align: left;
}

.GroupsPanel
.value-bubble {
    border-radius: 4px;
    padding: 2px 4px 2px 8px;
    margin: 0 4px 0 4px;
    background: #33C3F0;
    color: white;
}

.GroupsPanel
.value-bubble
.lnr:before {
    vertical-align: middle;
}

.GroupsPanel
.value-bubble
.lnr-cross:hover {
    color: black;
}

.GroupsPanel
.single-lookup {
    text-align: left;
}

.GroupsPanel
.single-lookup-value {
    display: none;
}

.GroupsPanel .single-lookup-entry,
.GroupsPanel .single-lookup-display {
    display: inline-block;
    width: 100%;
}

.GroupsPanel
.single-lookup-display {
    padding: 6px 0;
}

.GroupsPanel
.searchable-lookup {
    position: relative;
    height: 38px;
    overflow: visible;
}

.GroupsPanel
.searchable-lookup
.lookup {
    margin: 0;
}

.GroupsPanel
.searchable-lookup
.search-list {
    position: absolute;
    z-index: 10;

    width: 100%;
    overflow: hidden;

    background: #FFF;
    border-bottom: 1px solid #33C3F0;
    box-sizing: border-box;
}

.GroupsPanel
.searchable-lookup
.search-box.selected {
    color: white;
    background-color: rgba(15, 160, 206, 0.6);
}

.GroupsPanel
.searchable-lookup
.search-box:hover {
    color: white;
    background-color: #0FA0CE;

    cursor: pointer;
}

/* lookup expand transition */
/* always present */
.drop-in-transition {
    transition: all .5s ease;
    max-height: 120px;
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.drop-in-enter, .drop-in-leave {
    max-height: 0;
}
