<div class="UserCreator">
    <div class="container form-detail">
        <div class="row">
            <div class="twelve columns">
                <div class="form-label">email</div>
                <input
                    class="u-full-width"
                    :class="{'invalid': user.email && !is_valid_email, 'required': !user.email}"
                    type="text"
                    v-model="user.email"
                    placeholder="bill@billson.net">
            </div>
        </div>

        <div class="row">
            <div class="six columns">
                <div class="form-label">first name</div>
                <input
                    class="u-full-width"
                    :class="{'required': !user.first_name}"
                    type="text"
                    v-model="user.first_name"
                    placeholder="e.g. Bill">
            </div>
            <div class="six columns">
                <div class="form-label">last name</div>
                <input
                    class="u-full-width"
                    :class="{'required': !user.last_name}"
                    type="text"
                    v-model="user.last_name"
                    placeholder="e.g. Billson">
            </div>
        </div>

        <div class="row">
            <div class="six columns">
                <div class="form-label">zoho crm contact</div>
                <input
                    class="u-full-width single-lookup-value"
                    type="text"
                    v-model="user.zcrm_id"
                    placeholder="e.g. 1770000000551017">
                <div class="single-lookup-display" v-if="user.zcrm_id">
                    <value-bubble
                        :display="zoho_contact"
                        :format="format_zoho_contact"
                        :pop="clear_zoho_contact">
                    </value-bubble>
                </div>
                <div class="single-lookup-entry" v-else>
                    <searchable-lookup
                            :search="search_zoho_contacts"
                            :action="set_zoho_id"
                            :format="format_zoho_contact"
                            placeholder="e.g. Bill Billson">
                    </searchable-lookup>
                </div>
            </div>
            <div class="six columns">
                <div class="form-label">send email invitation</div>
                <div class="switch">
                    <input id="email_invite_checkbox"  class="toggle" type="checkbox" v-model="user.send_email_invite">
                    <label for="email_invite_checkbox" class="toggle-item"></label>
                </div>
            </div>
        </div>

        <div class="row form-actions">
            <div class="three columns">
                <slot name="footer-one">
                    <br>
                </slot>
            </div>
            <div class="three columns">
                <slot name="footer-two">
                    <br>
                </slot>
            </div>
            <div class="three columns">
                <slot name="footer-three">
                    <button
                        class="button-primary save u-full-width"
                        :disabled="!enable_create_button"
                        @click="create_user({finish: false})">
                        {{ creating_user && !will_finish ? 'Creating' : 'Create' }}
                    </button>
                </slot>
            </div>
            <div class="three columns">
                <slot name="footer-three">
                    <button
                        class="button-primary save u-full-width"
                        :disabled="!enable_create_button"
                        @click="create_user({finish: true})">
                        {{ creating_user && will_finish ? 'Creating' : 'Create & Finish' }}
                    </button>
                </slot>
            </div>
        </div>

    </div>
</div>
