<div class="UserCreator">
    <div class="container form-detail">
        <div class="row">
            <div class="twleve columns">
                <div class="form-label">email</div>
                <input
                    class="u-full-width"
                    type="text"
                    v-model="user.email"
                    placeholder="bill@billson.net">
            </div>
        </div>

        <div class="row">
            <div class="six columns">
                <div class="form-label">first name</div>
                <input
                    class="u-full-width"
                    type="text"
                    v-model="user.first_name"
                    placeholder="e.g. Bill">
            </div>
            <div class="six columns">
                <div class="form-label">last name</div>
                <input
                    class="u-full-width"
                    type="text"
                    v-model="user.last_name"
                    placeholder="e.g. Billson">
            </div>
        </div>

        <div class="row">
            <div class="six columns">
                <div class="form-label">zoho crm contact</div>
                <input
                    class="u-full-width single-lookup-value"
                    type="text"
                    v-model="user.zcrm_id"
                    placeholder="e.g. 1770000000551017">
                <div class="single-lookup-display" v-if="user.zcrm_id">
                    <span class="value-bubble">
                        <span class="name">{{ user.zcrm_id }}</span>
                        <span class="lnr lnr-cross delete" @click="user.zcrm_id = null"></span>
                    </span>
                </div>
                <div class="single-lookup-entry" v-else>
                    <searchable-lookup
                            :search="search_zoho_contacts"
                            :action="set_zoho_id"
                            :display="display_zoho_contact"
                            placeholder="e.g. Bill Billson">
                    </searchable-lookup>
                </div>
            </div>
            <div class="six columns">
                <label for="email_invite_checkbox" class="noselect">send email invitation</label>
                <input id="email_invite_checkbox" type="checkbox" v-model="user.send_email_invite">
            </div>
        </div>

    </div>

    <div class="container form-actions">
        <div class="row">
            <div class="six columns">
                <br>
            </div>
            <div class="three columns">
                <button
                    class="button-primary save u-full-width"
                    :disabled="!enable_create_button"
                    @click="create_user({finish: false})">
                    {{ creating_user && !will_finish ? 'Creating' : 'Create' }}
                </button>
            </div>
            <div class="three columns">
                <button
                    class="button-primary save u-full-width"
                    :disabled="!enable_create_button"
                    @click="create_user({finish: true})">
                    {{ creating_user && will_finish ? 'Creating' : 'Create & Finish' }}
                </button>
            </div>
        </div>
    </div>
</div>
