<div class="InfiniteTable">
    <div class="container full-height">
        <div class="row action-bar">
            <div class="search-bar">
                <input
                    class="u-full-width"
                    type="text"
                    v-model="search_term"
                    placeholder="search..."
                    v-on:keyup="fetch_items() | debounce 500" v-el:table-search>
                <span class="search-icon active" v-if="busy_searching">
                    <span class="lnr lnr-sync"></span>
                </span>
                <span class="lnr lnr-magnifier search-icon" @click="$els.tableSearch.focus()" v-else></span>
            </div>
            <div class="action-item" :class="{'spacer': !$els.actionOneDefault}">
                <slot name="action-one">
                    <br v-el:action-one-default>
                </slot>
            </div>
            <div class="action-item" :class="{'spacer': !$els.actionTwoDefault}">
                <slot name="action-two">
                    <br v-el:action-two-default>
                </slot>
            </div>
            <div class="action-item" :class="{'spacer': !$els.actionThreeDefault}">
                <slot name="action-three">
                    <br v-el:action-three-default>
                </slot>
            </div>
            <div class="action-item" :class="{'spacer': !$els.actionFourDefault}">
                <slot name="action-four">
                    <br v-el:action-four-default>
                </slot>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <table class="u-full-width">
                    <thead>
                        <tr>
                            <th v-for="column in columns">
                                <slot :name="column + '_header'">
                                    <span>{{column | strip_underscores}}</span>
                                </slot>
                            </th>
                        </tr>
                    </thead>
                    <tbody v-el:table-body
                           :style="{maxHeight: table_height}"
                           v-infinite-scroll="nearing_bottom()"
                           infinite-scroll-disabled="disabled"
                           infinite-scroll-distance="10">
                        <tr v-if="items.length<=0">
                            <td class="placeholder">
                                <div class="pad" v-if="exhausted">no records found</div>
                                <div class="pad" v-else>loading...</div>
                            </td>
                        </tr>
                        <tr v-else
                            v-for='item in items'
                            track-by='$index'
                            :class="{'clickable': this.item_clicked}"
                            :style="{cursor: item_clicked ? 'pointer' : 'auto'}"
                            @click="_item_clicked(item)">
                            <td v-for="column in columns">
                                <div class="pad">
                                    <template v-if="display_table_cell_type && display_table_cell_type(item, {column: column}) == 'component'">
                                        <component :is="display_item(item, {column: column})" :item="item"></component>
                                    </template>
                                    <template v-if="display_table_cell_type && display_table_cell_type(item, {column: column}) == 'html'">
                                        {{{ display_item(item, {column: column}) }}}
                                    </template>
                                    <template v-if="!display_table_cell_type || (display_table_cell_type && display_table_cell_type(item, {column: column})) == 'raw'">
                                        <span v-if="display_item(item, {column: column})">
                                            {{ display_item(item, {column: column}) }}
                                        </span>
                                        <span v-else class="empty">
                                            -
                                        </span>
                                    </template>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
