.GroupCreator
.form-detail {
    text-align: left;
}

.GroupCreator
.single-lookup {
    text-align: left;
}

.GroupCreator
.single-lookup-value {
    display: none;
}

.GroupCreator .single-lookup-entry,
.GroupCreator .single-lookup-display {
    display: inline-block;
    width: 100%;
}
