.navigation {
    padding-top: 16px;

    text-align: center;
}

.navigation
a {
    padding-left: 8px;
    padding-right: 8px;
}

.navigation
.v-link-active {
    color: black;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    border-radius: 0;

    border-width: 0px;
    border-bottom-width: 1px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-radius: 0;

    border-width: 0px;
    border-bottom-width: 1px;
}

input[type="email"].invalid,
input[type="number"].invalid,
input[type="search"].invalid,
input[type="text"].invalid,
input[type="tel"].invalid,
input[type="url"].invalid,
input[type="password"].invalid,
textarea.invalid {
    border-color: rgb(170, 57, 57);
}

.button,
button {
    border-radius: 0;
    overflow: hidden;
    padding: 0;
}

.button:disabled,
button:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled,
input[type="button"]:disabled,
.button.button-primary:disabled,
button.button-primary:disabled,
input[type="submit"].button-primary:disabled,
input[type="reset"].button-primary:disabled,
input[type="button"].button-primary:disabled {
    border-color: rgb(251, 251, 251);
    background-color: rgb(251, 251, 251);

    color: rgb(148, 148, 148);
}

.panel {
    padding-top: 32px;
    padding-bottom: 32px;

    text-align: center;
    align-content: center;
}

.greeting {
    padding-bottom: 32px;
    font-size: xx-large;
}

.form-label {
    font-weight: bold;
    text-align: left;
}

.changed {
    font-style: italic;
}

/* vertical aligns linaricons */
.lnr:before {
    vertical-align: sub;
}

.lnr-warning {
    color: rgb(170, 57, 57);
}

.tool-tip-container {
    position: relative;
}

.tool-tip-message {
    visibility: hidden;
    position: absolute;
    right: 0;
    width: 300px;
    z-index: 1;
    font-size: smaller;
    background: white;
    padding: 8px;
    border: 1px solid #bbb
}

.tool-tip-container:hover
.tool-tip-message {
    visibility: visible;
}

.tool-tip-message.warning {
    color: rgb(170, 57, 57);
}

.form-actions {
    padding-top: 32px;
}
