body {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 16px;
    line-height: 18px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Chrome/Safari/Opera */
       -khtml-user-select: none; /* Konqueror */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

#Main {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#Main
.navigation {
    padding-top: 16px;
    padding-bottom: 32px;
    text-align: center;
}

#Main
.navigation
.columns:first-child {
    text-align: left;
}

#Main
.navigation
.columns:last-child {
    text-align: right;
}

#Main
.navigation .logo
.logo-icon {
    height: 24px;
}

#Main
.navigation .logo
.logo-banner {
    width: 85px;
}

#Main
.navigation
a {
    padding: 0 8px;
}

#Main
.navigation
.v-link-active {
    color: black;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    border-radius: 0;

    border-width: 0px;
    border-bottom-width: 1px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-radius: 0;

    border-width: 0px;
    border-bottom-width: 1px;
}

input[type="email"].invalid,
input[type="number"].invalid,
input[type="search"].invalid,
input[type="text"].invalid,
input[type="tel"].invalid,
input[type="url"].invalid,
input[type="password"].invalid,
textarea.invalid {
    border-color: #DA6B6B;
}

.button,
button {
    border-radius: 0;
    overflow: hidden;
    padding: 0 10px;
}

.button:disabled,
button:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled,
input[type="button"]:disabled,
.button.button-primary:disabled,
button.button-primary:disabled,
input[type="submit"].button-primary:disabled,
input[type="reset"].button-primary:disabled,
input[type="button"].button-primary:disabled {
    border-color: rgb(251, 251, 251);
    background-color: rgb(251, 251, 251);

    color: rgb(148, 148, 148);
}

.content {
    overflow: auto;
}

.panel {
    height: 100%;
    box-sizing: border-box;

    text-align: center;
    align-content: center;
}

.form-actions {
    margin-top: 32px;
}

.form-label {
    font-weight: bold;
    text-align: left;
}

.changed {
    font-style: italic;
}

.full-height {
    height: 100%;
}

.form-actions {
    padding-top: 32px;
}

.single-lookup-display {
    line-height: 38px;
    margin-bottom: 10px;
}

hr.section-break {
    border-style: dashed;
}

.greeting {
    padding-bottom: 32px;
    font-size: xx-large;
    line-height: initial;
}


/* ––––– NOTIFICATIONS ––––– */

#Main
.notification-centre {
    position: absolute;
    left: 5px; top: 5px;
    z-index: 1;
}

#Main
.notification-centre
.notification {
    text-align: center;
    padding: 5px;
    border-radius: 4px;

    background-color: #33c3f0;
    color: #ffffff;
}

#Main
.notification-centre
.notification.error {
    background-color: #fbbaba;
    color: #e61f1f;
}


/* –––– TOGGLE SWITCHES –––– */

input.toggle { display: none; }

.switch {
    display: flex;
    align-items: center;
    height: 38px;
}

.toggle-item {
    position: relative;

    display: block;
    width: 30px;
    height: 15px;
    margin: 0;

    padding: 2px;
    border-radius: 15px;
    background-color: #DDD;

    cursor: pointer;
    outline: none;
    user-select: none;
}
.toggle-item::before,
.toggle-item::after {
    content: "";
    position: absolute;
    display: block;
}
.toggle-item::before {
    top:    1px;
    left:   1px;
    bottom: 1px;
    right:  1px;

    background-color: #f1f1f1;
    border-radius: 60px;
    transition: background 0.4s;
}
.toggle-item::after {
    top:  2px;
    left: 2px;
    bottom: 2px;
    width: 15px;

    border-radius: 100%;

    background-color: #FFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

    transition: margin 0.4s;
}
.toggle:checked + .toggle-item::before { background-color: #1EAEDB; }
.toggle:checked + .toggle-item::after  { margin-left: 15px; }
