.LinkCopier {
    position: relative;
    width: 100%;
    text-align: center;
}

.LinkCopier
.copy-content {
    display: none;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    z-index: 100;
}

.LinkCopier
.copy-handle:hover +
.copy-content {
    display: block;
}

.LinkCopier
.copy-value {
    height: 24px;
    width: 80%;
    vertical-align: top;
    box-sizing: border-box;
    border: 1px solid #33C3F0;
    border-left: none;
    background: #FFF;
}

.LinkCopier
.copy-value:focus {
    outline: 1px solid #33C3F0;
}

.LinkCopier
.lnr.copy-value-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: -4px;

    line-height: 14px;
    vertical-align: top;

    box-sizing: border-box;
    border: 1px solid #33C3F0;
    border-right: none;

    background: #FFF;
    color: #33C3F0;

    -webkit-border-bottom-left-radius: 50%;
    -webkit-border-top-left-radius:    50%;
    -moz-border-radius-bottomleft:     50%;
       -moz-border-radius-topleft:     50%;
            border-bottom-left-radius: 50%;
            border-top-left-radius:    50%;
}
