.ResetPasswordPanel {
    position: relative;
    width: 100%;
}

.ResetPasswordPanel
.logo {
    width: 150px;
    max-width: 100%;
}

.ResetPasswordPanel .error,
.ResetPasswordPanel .message {
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    padding: 0 10px;
}

.ForgotPasswordPanel
.error {
    color: #DA6B6B;
}

.ResetPasswordPanel
.message {
    color: #89D2A7;
}

.ResetPasswordPanel
button {
    min-width: 100%;
    margin-bottom: 16px;
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0;
}

.ResetPasswordPanel
button:disabled {
    border-color: #FBFBFB;
    background-color: #FBFBFB;
    color: #949494;
}
