<div class="ResetPasswordPanel panel">
    <form class="container" @submit.prevent="send_reset">

        <img class="logo" src="https://s3-eu-west-1.amazonaws.com/com-a2zcloud-assets/images/logo/a2zcloud.svg"/>
        <div class="greeting">Reset your password.</div>

        <div class="row">
            <div class="two columns"><br></div>
            <div class="five columns">
                <div class="input-item" v-el:main-input>
                    <tooltip-input
                        :value.sync="new_password"
                        :show="new_password"
                        placeholder="new password"
                        :icon="display_password_errors ? 'lnr-warning' : 'lnr-checkmark-circle'"
                        :message="display_password_errors"
                        :color="display_password_errors ? '#DA6B6B' : '#89D2A7'"
                        :type="field_type"></tooltip-input>
                </div>
                <div class="input-item">
                    <tooltip-input
                        :value.sync="new_password_confirm"
                        :show="new_password_confirm"
                        placeholder="confirm new password"
                        :icon="invalid_password_confirmation ? 'lnr-warning' : 'lnr-checkmark-circle'"
                        :message="invalid_password_confirmation ? 'This doesnt match your previous password.' : ''"
                        :color="invalid_password_confirmation ? '#DA6B6B' : '#89D2A7'"
                        :type="field_type"></tooltip-input>
                </div>
            </div>
            <div class="three columns">
                <div class="button u-full-width noselect" @click="visible = !visible">{{visible ? 'Hide' : 'Show'}} Password</div>
                <button type="submit" class="u-full-width noselect" :disabled="!enable_button">Change Password</button>
            </div>
            <div class="two columns"><br></div>
        </div>
        <div class="row">
            <div class="two columns"><br></div>
            <div class="eight columns">
                <div class="error" v-if="error">{{{error}}}</div>
                <div class="message" v-if="message">{{message}}</div>
            </div>
            <div class="two columns"><br></div>
        </div>
    </form>
</div>
