<div class="ResetPasswordPanel panel">
    <form class="container" @submit.prevent="send_reset">

        <img class="logo" src="https://s3-eu-west-1.amazonaws.com/com-a2zcloud-assets/images/logo/a2zcloud.svg"/>
        <div class="greeting">Reset your password.</div>

        <div class="row">
            <div class="two columns"><br></div>
            <div class="five columns">
                <div class="input-item">
                    <input class="u-full-width" :class="{invalid: new_password && new_password_errors.length}"
                           :type="field_type" v-model="new_password" placeholder="new password"/>
                    <div v-if="new_password && new_password_errors.length" class="tool-tip-container">
                        <span class="lnr lnr-warning tool-tip-icon u-pull-right"></span>
                        <div class="tool-tip-message warning"><span v-for="error in new_password_errors">{{error}}</span></div>
                    </div>
                </div>
                <div class="input-item">
                    <input class="u-full-width" :class="{invalid: invalid_password_confirmation}"
                           :type="field_type" v-model="new_password_confirm" placeholder="confirm new password"/>
                    <div v-if="invalid_password_confirmation" class="tool-tip-container">
                        <span class="lnr lnr-warning tool-tip-icon u-pull-right"></span>
                        <div class="tool-tip-message warning">This doesn't match your previous password.</div>
                    </div>
                </div>
            </div>
            <div class="three columns">
                <div class="button u-full-width noselect" @click="visible = !visible">{{visible ? 'Hide' : 'Show'}} Password</div>
                <button type="submit" class="u-full-width noselect" :disabled="!enable_button">Change Password</button>
            </div>
            <div class="two columns"><br></div>
        </div>
        <div class="row">
            <div class="two columns"><br></div>
            <div class="eight columns">
                <div class="error" v-if="error">{{{error}}}</div>
                <div class="message" v-if="message">{{message}}</div>
            </div>
            <div class="two columns"><br></div>
        </div>
    </form>
</div>
