.ResetPasswordPanel {
    position: relative;
    width: 100%;
    margin: auto;
}

.ResetPasswordPanel
.greeting {
    padding-bottom: 16px;
}

.ResetPasswordPanel
input.invalid {
    border-color: #DA6B6B;
}

.ResetPasswordPanel
.logo {
    width: 150px;
    max-width: 100%;
}

.ResetPasswordPanel
.error {
    width: 100%;
    text-align: left;
    color: #DA6B6B;
    box-sizing: border-box;
    padding: 0 10px;
}

.ResetPasswordPanel
button {
    min-width: 100%;
    margin-bottom: 16px;
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0;
}

.ResetPasswordPanel
button:disabled {
    border-color: #FBFBFB;
    background-color: #FBFBFB;
    color: #949494;
}


/* –––– Tooltips –––– */

.ResetPasswordPanel
.input-item {
    position: relative;
    width: 100%;
    text-align: left;
}

.ResetPasswordPanel
.input-item input.invalid {
    position: relative;
    width: calc(100% - 20px);
    box-sizing: border-box;
    z-index: 1;
}

.ResetPasswordPanel
.input-item
.tool-tip-container {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 35px;
}

.ResetPasswordPanel
.input-item .tool-tip-container
.tool-tip-icon {
    height: 38px; width: 20px;

    line-height: 28px;
    text-align: center;

    box-sizing: border-box;
    border-bottom: 1px solid #DA6B6B;
}

.ResetPasswordPanel
.input-item .tool-tip-container
.tool-tip-message {
    left: 0;
    box-sizing: border-box;
    width: calc(100% - 23px);
    border-color: #DA6B6B;
}

/* This will modify the tooltip to only show
   when you hover over the warning icon.  */
.ResetPasswordPanel
.tool-tip-container:hover
.tool-tip-message {
   visibility: hidden;
   display: none;
}

.ResetPasswordPanel
.tool-tip-icon:hover + .tool-tip-message {
    visibility: visible;
    display: block;
}
