.ResetPasswordPanel {
    position: relative;
    width: 100%;
    margin: auto;
}

.ResetPasswordPanel
.greeting {
    padding-bottom: 16px;
}

.ResetPasswordPanel
input.invalid {
    border-color: #DA6B6B;
}

.ResetPasswordPanel
.logo {
    width: 150px;
    max-width: 100%;
}

.ResetPasswordPanel
.error {
    width: 100%;
    text-align: left;
    color: #DA6B6B;
    box-sizing: border-box;
    padding: 0 10px;
}

.ResetPasswordPanel
button {
    min-width: 100%;
    margin-bottom: 16px;
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0;
}

.ResetPasswordPanel
button:disabled {
    border-color: #FBFBFB;
    background-color: #FBFBFB;
    color: #949494;
}
