.ForgotPasswordPanel {
    position: relative;
    width: 100%;
}

.ForgotPasswordPanel
input.invalid {
    border-color: #DA6B6B;
}

.ForgotPasswordPanel
.logo {
    width: 150px;
    max-width: 100%;
}

.ForgotPasswordPanel
.error {
    width: 100%;
    text-align: left;
    color: #DA6B6B;
    box-sizing: border-box;
    padding: 0 10px;
}

.ForgotPasswordPanel
button {
    min-width: 100%;
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0;
}

.ForgotPasswordPanel
button:disabled {
    border-color: #FBFBFB;
    background-color: #FBFBFB;
    color: #949494;
}
