
.UsersPanel
.InfiniteTable
span.centre-header {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.UsersPanel
.InfiniteTable
.lnr {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.UsersPanel
.InfiniteTable
span.lnr.lnr-checkmark-circle {
    color: #0fab0f;
}

.UsersPanel
.InfiniteTable
span.lnr.lnr-cross-circle {
    color: #ff2d2d;
}
