<div>
    <div v-if="error">{{error.message}}</div>

    <div class="ServicesPanel">

        <div class="container">
            <div class="row">
                <div class="twleve columns">
                    <table class="u-full-width">
                        <tr>
                            <th>id</th>
                            <th>name</th>
                        </tr>
                        <tr v-for='service in services'>
                            <td>{{ service.id }}</td>
                            <td>{{ service.name }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
