.EmailConfirmationPanel {
    position: relative;
    width: 100%;
    height: 100%;
}

.EmailConfirmationPanel
.logo {
    width: 150px;
    max-width: 100%;
}

.EmailConfirmationPanel
.message {
    font-size: 3em;
}

.EmailConfirmationPanel
.message .success {
    color: #5EDE5E;
}

.EmailConfirmationPanel
.message .error {
    color: #DE5E5E;
}

.EmailConfirmationPanel
.home {
    padding: 0 35px;
    margin-top: 25px;
}
