.UserDetailPanel {
    position: relative;
    width: 100%;
}

.UserDetailPanel
.title {
    padding-bottom: 8px;
    font-size: x-large;
    line-height: initial;
}

.UserCreator
.form-detail {
    text-align: left;
    height: 100%;
}

.UserDetailPanel
.form-label
.unverified {
    font-weight: normal;
}

.UserDetailPanel
.single-lookup {
    text-align: left;
}

.UserDetailPanel
.single-lookup-value {
    display: none;
}

.UserDetailPanel .single-lookup-entry,
.UserDetailPanel .single-lookup-display {
    text-align: left;
    display: inline-block;
    width: 100%;
}

.UserDetailPanel
.service .lnr {
    display: inline;
    width: auto;
    float: right;
    clear: both;
    color: #DA6B6B;
}

/* modify infinite-table margins */
.UserDetailPanel
.InfiniteTable
.container {
    margin: 0;
    width: 100%;
}

.UserDetailPanel
.InfiniteTable
.action-bar {
    margin-bottom: 30px;
}

.UserDetailPanel thead { display: none; }
.UserDetailPanel tbody { border-top: 1px solid #E1E1E1; }
